<mat-card>
    <mat-card-header>
      <mat-card-title>INGRESAR AL LOGUEO</mat-card-title>
      <mat-card-subtitle>Login</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div style="display: flex; flex-direction: column;">

            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" #usuarioText> 
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>password</mat-label>
                    <input matInput type="password" #passwordText>
                </mat-form-field>
        </div>


    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary"
      (click)="submit(usuarioText, passwordText)"> Ingresar</button>
    </mat-card-actions>
  